html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #000000;
    background-repeat: repeat;
    background-position: center;

}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#orientationDiv {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/rotate_device.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    display: none;
}